   body {
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(58, 56, 56);
    flex-direction: column;
    font-family: cursive;
    flex-wrap: nowrap;
    flex-wrap: wrap;
  }
  #loginDiv {
    width: 350px;
    height: 350px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap:10px;
    position: absolute;
    top: 50%;
    align-content: center;
    flex-direction: column;
  }

  #loginDivInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  input {
font-family: cursive;
width: 150px;
height: 40px;
border-radius: 5px;
transition: all 0.5s;
  }
  button {
    font-family: cursive;
    width: 125px;
    height: 40px;
    border-radius: 5px;
    transition: all 0.5s;
  }

  #loginDivButton {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: cursive;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
  }

  button:hover {
    transform: scale(1.1);
    background-color: lightslategray;
  }

  input:hover {
    transform: scale(1.2);
    
  }

  #saveDiv {
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:50%;
    visibility: hidden;
    background-color: white;
    border-radius: 20px;
  }

  #saveDivInput {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;

  }

  #saveDivButton {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  #passwordDiv2 {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  #passwordButton2 img{
    width: 50px;
    height: 50px;
    }
    #passwordButton2 {
      display: flex;
      width: 50px;
      height: 50px;
      justify-content: center;
      align-items: center;
      border: 2px solid black;
      
    }
    #passwordDiv {
      display: flex;
      flex-direction: row;
      gap: 15px;
    }
    #passwordButton {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
    }
    #passwordButton img {
      width: 50px;
      height: 50px;
    }
    #menuDiv {
      top: 0%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      left: 0%;
      background-color: white;
      height: 100vh;
      width: 200px;
      margin-left: 5px;
      visibility: hidden;
    }
    .menuButton {
      margin-top: 10px;
  width: fit-content;
      height: fit-content;
    }
    #menuDivButton {
      margin-top: 10px;
      margin-left: 10px;
      position: absolute;
      top: 0%;
      left: 0%;
      height: 100px;
      width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      visibility: hidden;
    }
    #menuButton3 {
      width: fit-content;
      height: fit-content;
    }
    #settingDiv {
      display: flex;
      flex-direction: row;
      height: 500px;
      width: 1000px;
      visibility: hidden;
      background-color: white;
      gap: 20px;
    }
    .settingsButton {
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      height: fit-content;
    }
    #gameDiv {
      display: flex;
      flex-direction: column;
      background-color: blue;
      visibility: hidden;
      justify-content: center;
      align-items: center;
      border: 3px solid black;
      width: 400px;
      height: 300px;
      position: absolute;
      top: 50%;
    }
    #gameDivTitle {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #gameDivButton {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      height: 200px;
      width: 200px;
    }

  #gameButton {
    top: 50%;
    left: 50%;
    border-radius: 100%;
    height: 150px;
    width: 150px;
    margin-bottom: 30px;
  }
  #gameButton:hover {
    box-shadow: 4px 7px 20px red;
  }
  #upgradeDiv {
    position: absolute;
    top: 20%;
    visibility: hidden;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  #aboutDiv {
    visibility: hidden;
    height: 400px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 0;
  }
  #exitAbout {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 10px;
    margin-top: 10px;
  }
  #aboutButton {
    height: fit-content;
    width: fit-content;
  }
  #smallShop {
    width: fit-content;
    height: fit-content;
  }
  #bigShop {
    width: fit-content;
    height: fit-content;
  }
  #smallBank {
    width: fit-content;
    height: fit-content;
  }